@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;700&family=Montserrat:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Conthrax";
    src: url("/assets/fonts/conthrax-sb.otf");
}

@layer utilities {
    .animation-delay-200 {
        animation-delay: 0.2s;
    }

    .animation-delay-400 {
        animation-delay: 0.4s;
    }

    .animation-delay-600 {
        animation-delay: 0.6s;
    }
}

.tooltip {
    --tooltip-tail: 9px;
}

.tooltip:before {
    padding: 1rem;
    border-radius: 0;
}